@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 1.8rem;
    font-weight: 600;
}

h3 {
    font-size: 1.4rem;
    font-weight: 800;
}

h4 {
    font-size: 1.1rem;
    font-weight: 600;
}

h5 {
    font-size: 1rem;
    font-weight: 400;
    color: #1d1d1d;
}

h6 {
    color: #d8d8d8;
}

button {
    font-size: .8rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: #1d1d1d;
    color: aliceblue;
    padding: 13px 30px;
    text-transform: uppercase;
    transition: 0.3s ease;
}

button:hover {
    background-color: #3a3833;
}

/* navbar should have more width like in demo. background color shouldnt have to be in .navbar below */
.navbar {
    font-size: 16px;
    background-color: white;
    top: 0;
    left: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 20px;
    color: black;
    transition: 0.3s ease;
}

.navbar-expand-lg .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-expand-lg .navbar-nav .nav-link.active,
.navbar i.active {
    color: coral;
}

.navbar i{
    font-size: 1.2rem;
    padding: 0 7px;
    cursor: pointer;
    /* font-weight: 500; */
    transition: 0.3s ease;
}

/* Mobile Nav */
.navbar-expand-lg .navbar-toggler {
    border: none;
    outline: none;
}

#bar {
    color: black;
    font-size: 1.5rem;
    padding: 7px;
    cursor: pointer;
    /* font-weight: 500; */
}

#bar:hover, 
#bar:active {
    color: white;
}

@media only screen and (max-width: 991px) {
    body > nav > div > button:hover,
    body > nav > div > button:focus {
        background-color: coral;
    }

    body > nav > div > button:hover #bar,
    body > nav > div > button:focus #bar {
        color: white;
    }

    #navbarSupportedContent > ul {
        margin: 1rem;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
    }

    #navbarSupportedContent > ul > li:nth-child(n) > a{
        padding: 10px 0;
    }

    #navbarSupportedContent > ul > li:nth-child(n) > i {
        padding: 10px 10px;
    }
}

#home {
    background-image: url("img/home-back.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: top /*60px*/ center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#home span {
    color: coral;
}
